* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background: #333 url(../Images/odin-project.png) top center no-repeat; */
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}

.websiteLogo {
  font-size: 1.5rem;
  font-weight: 900;
}

.websiteLogo a {
  color: white;
  text-decoration: none;
}

.websiteLogo a:hover {
  color: #3882f6;
  text-decoration: none;
}

.navList {
  display: flex;
  gap: 1.55rem;
}

.navList li {
  list-style: none;
}

.navList li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem;
}

.navList li a:hover {
  color: #3882f6;
}

.hero {
  min-height: 29.5rem;
  padding: 6.5rem 0;
  background-color: #1f2937;
}

.heroTextAndImage {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  gap: 1rem;
}

.heroText {
  flex: 1;
}

.heroText h1 {
  color: white;
  font-size: 3rem;
  line-height: 1.2;
}

.heroText p {
  color: #e5e7eb;
  font-size: 1.125rem;
  padding-right: 3.5rem;
  line-height: 1.2;
}

.heroImage {
  background-image: url(../Images/hans-ott-gCi-cR57gHY-unsplash.jpg);
  background-size: cover;
  flex: 1;
}

.hero .button {
  background-color: #3882f6;
  padding: 0.5rem 2.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 0.725rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.hero .button:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

.information {
  padding: 2.75rem 0;
  background-color: white;
}

.information h2 {
  color: #1f2937;
  text-align: center;
  font-size: 2.25rem;
}

.infoTextAndImages {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  width: 80%;
  margin: 3rem auto 5rem auto;
}

.infoImage {
  height: 10.5rem;
  border: 4px solid #3882f6;
  border-radius: 1.1rem;
  background-color: #33333333;
  margin-bottom: 0.5rem;
}

.infoText {
  color: #1f2937;
  text-align: center;
  font-size: 1.1rem;
}

.imageOne {
  background-image: url(../Images/sora-sagano--a1HpH8uLjU-unsplash.jpg);
  background-size: cover;
}
.imageTwo {
  background-image: url(../Images/stephen-leonardi-P4eIWDMkMoc-unsplash.jpg);
  background-size: cover;
}
.imageThree {
  background-image: url(../Images/windows-QKuAz8zJRng-unsplash.jpg);
  background-size: cover;
}
.imageFour {
  background-image: url(../Images/stephen-leonardi-R0N45FoXuCM-unsplash.jpg);
  background-size: cover;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 7.9rem 1rem 6rem 5rem;
}

.quote blockquote {
  font-famiy: Roboto;
  font-weight: 300;
  font-size: 2.25rem;
  font-style: italic;
  width: 80%;
  margin: 0 auto;
  line-height: 1.2;
}

.quote .author {
  text-align: right;
  font-weight: 800;
  font-size: 1.5rem;
  width: 85%;
}

.callToAction {
  padding: 6.5rem 0;
}

.cta {
  color: white;
  padding: 3rem 0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  align-content: space-between;
  background: #3882f6;
}

.ctaText {
  padding: 0 7.5rem;
}

.ctaText h2 {
  font-size: 1.5rem;
}

.ctaText p {
  font-size: 1.125rem;
}

.ctaButton {
  padding: 0 2.5rem;
}

.ctaButton .button {
  background-color: transparent;
  border: 2px solid white;
  padding: 0.5rem 2.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.ctaButton .button:hover {
  background-color: #1f2937;
  border: 2px solid white;
  padding: 0.5rem 2.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

footer {
  background-color: #1f2937;
  padding: 2.25rem 0;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
